---
title: Paul Woods | Designer, illustrator, blogger and wanker
description: Herein lies the website of designer, illustrator, procrastinator and all-round wanker Paul Woods.
---
<%= partial "nav" %>

<!-- Add your site or application content here -->
<div id="landing_wrap">
			<!-- MAIN STAGE -->
			<div class="hero--black fadeInUp">
				<img id="preload" onload="fadeIn(this)" style="opacity:0;" src="./images/hero-01.png" alt="Paul Woods the Designer">
					<h1 id="giant">
						<script type="text/javascript">
							var randomquote = new Array ( );
							randomquote[0] = 'Wanker';
							randomquote[1] = 'Bollox';
							function randomzero (n)
							{
							  return ( Math.floor ( Math.random ( )*0.9999999999999999* (n + 1)) );
							}
							x = randomzero(1);
							document.write(randomquote[x]);
					</script>
				</h1><!-- End heading-->
				<span class="black subline--homepage">Professional arse since 1983. </span>
				<!--<a href="projects" class="button">Enter me</a>-->
			</div><!-- End hero -->
</div><!-- End landing_wrap -->