		<!-- ABOUT SECTION -->	
			<div class="about hide table">
				<div class="cross">X</div>
				<div class="container no-bg table-cell">
					<section class="opening-paragraph">
						Hello fuckers.<br><br>
						Herein lies the website of Paul, designer director at Edenspiekermann. I make things that are exciting, useful and occasionally offensive. I also write about these things.<br><br>
						Farewell.<br>
						<a href="http://twitter.com/paulillustrator" target="blank">@paulillustrator</a>
					</section><!-- End intro section -->
				</div><!-- End container -->
			</div><!-- End about-wrap -->
