		<!-- ABOUT SECTION -->	
			<div class="about hide table">
				<div class="cross">X</div>
				<div class="container no-bg table-cell">
					<section class="opening-paragraph">
						Hello fuckers.<br><br>
						Herein lies the website of Paul, design director at Edenspiekermann. I make things that are useful, exciting and occasionally offensive.<br><br>
						Farewell.<br>
						<a href="http://twitter.com/paulillustrator" target="blank">@paulillustrator</a><br>
						<a href="mailto:hello@paulthedesigner.ie" target="blank">hello@paulthedesigner.ie</a>
					</section><!-- End intro section -->
				</div><!-- End container -->
			</div><!-- End about-wrap -->
