        <!-- CTA module -->
            <div class="black-bg">
                <div class="container centre">
                    <h1 class="white">Like this?</h1>
                    <p>Maybe you want to buy me some gifts. Or flowers.</p>
                    <p>
                        <a href="mailto:hello@paulthedesigner.ie" class="button">Get in touch</a>
                    </p>
                </div><!-- End container -->
            </div><!-- End light-grey -->
        <!--End CTA -->