        <!-- Footer -->
        <footer class="footer_wrap">
            <ul id="social_footer">
                <li><a href="http://www.twitter.com/paulillustrator"><img src="images/svg/social_footer_twitter.svg" alt="Twitter"></a></li>
                <li><a href="http://www.twitter.com/paulillustrator"><img src="images/svg/social_footer_facebook.svg" alt="Facebook"></a></li>
            </ul> 
            <p>
            You’ve reached the bottom of the page. Well done. Nothing particularly interesting to see here, just the usual copyright BS and some standard social media links. What else were you expecting? 
            </p>
            <p>Copyright Paul the Designer 2014. | Offenders will be de-bollocked.</p>
        </footer><!-- End footer -->