        <!-- Footer -->
        <footer class="footer_wrap">
            <ul id="social_footer">
                <li>
                    <a href="http://www.twitter.com/paulillustrator">
                        <%= image_tag 'images/svg/social_footer_twitter.svg', :protocol => :relative %>
                    </a>
                </li>
                <li>
                    <a href="http://www.twitter.com/paulillustrator">
                        <%= image_tag 'images/svg/social_footer_facebook.svg', :protocol => :relative %>
                    </a>
                </li>
                
            </ul> 
            <p>
            You’ve reached the bottom of the page. Well done. Nothing particularly interesting to see here, just the usual copyright BS and some standard social media links. What else were you expecting? 
            </p>
            <p>Copyright Paul the Designer 2014. | Offenders will be de-bollocked.</p>
        </footer><!-- End footer -->