        <!-- NAVIGATION -->
        <div class="nav-wrap">
            <a href="/">
                <h3 class="site-logo">Paul</h3>
            </a>
            <nav>
                <ul>
                    <li><a href="projects">Projects</a></li>
                        <li class="about-link"><a href="#">Me</a></li>
                    </ul>
            </nav>
        </div><!-- End navigation -->