---
title: Blloon | Paul Woods | Designer, illustrator, blogger and wanker
description: Escape into the world of stories.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--blloon">
		<div id="landing_wrap--inside" class="head_bg--blloon">
			<!-- MAIN STAGE -->
			<div class="hero--blloon fadeInUp">
				<img src="../images/projects/blloon/blloon-website-hero-logo.jpg" alt="Blloon logo">
				<h1>Blloon</h1>
				<span class="subline">Escape to the world of stories</span>
			</div><!-- End hero -->
		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->


		<!-- Statement module -->
		<article class="statement padding--top--small">
			<h3 class="statement-header yellow_blloon">The challenge</h3>
				Escape into the magical world of stories.<br><br>
		</article><!-- End statement white -->

		<!-- Text module -->
		<div class="container no-bg">
				<article class="intro dropcap blloon_para">
					Reading is much more than simple entertainment. Stories are the way we escape to a place where anything is possible. This project was much more than a branding or UI exercise — it was about creating a magical way to escape to the world of stories.
					<p>
						At Edenspiekermann, we were briefed to develop the strategic brand core, name, visual brand and the digital product for a new Berlin based e-reading subscription service. Working with the wonderful illustrator <a href="http://christophrauscher.de">Christoph Rauscher</a>, we created a brand that is bold, colourful and magical.
					</p>
					<p>
						Check out the live website <a href="http://www.blloon.com"> here</a> and the detailed project case over at <a href="http://www.edenspiekermann.com/projects/blloon">Edenspiekermann</a>.
					</p>
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/blloon/blloon-website-hero.jpg" alt="Blloon website homepage">
					</div><!-- End grid-col -->
				</div><!-- End grid-wrap -->	
		</div><!-- End container no-bg -->

		<div class="black-bg">
			<div class="container">
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/blloon/blloon-website-hero.jpg" alt="Blloon website homepage">
					</div><!-- End grid-col -->
				</div><!-- End grid-wrap -->	
			</div><!-- End container -->
		</div><!-- End black-bg -->

		<!-- Image mosaic module -->
		<div class="no-bg">
			<div class="grid-wrap no-gutter">
				<div class="grid-col three-up no-gutter">
					<div data-content="The Hoverer" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-01.svg" alt="Blloon illustrations">
					</div>
				</div>
				<div class="grid-col three-up no-gutter">
					<div data-content="The ParaProp" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-02.svg" alt="Blloon illustrations">
					</div>
				</div>
				<div class="grid-col three-up no-gutter">
					<div data-content="The SkySub" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-03.svg" alt="Blloon illustrations">
					</div>
				</div>
				<div class="grid-col three-up no-gutter">
					<div data-content="The Double Floater" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-04.svg" alt="Blloon illustrations">
					</div>
				</div>
				<div class="grid-col three-up no-gutter">
					<div data-content="The Mini Prop" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-05.svg" alt="Blloon illustrations">
					</div>
				</div>
				<div class="grid-col three-up no-gutter">
					<div data-content="The Yellow SkyMarine" class="project--thumb project--thumb--square">
						<img src="../images/projects/blloon/blloon-illustrations-06.svg" alt="Blloon illustrations">
					</div>
				</div>
			</div>
		</div><!-- End no-bg -->

		<!-- Colour palette module -->
		<div class="container no-bg">
			<article class="intro">
				<h1>Colours</h1>
				<!-- <p>No brand is complete without a great set of colours. With Blloon, we realised that the story behind the colours would be just as important as the Hex values.</p>-->
				<h4>Primary colours</h4>
				<div class="grid-wrap tiny-gutter padding-bottom--medium">
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-primary-color-1"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-primary-color-2"><img /></div>
						<p class="micro-copy">
							The Colour Purple
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-primary-color-2"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-primary-color-1"><img /></div>
						<p class="micro-copy">
							Scarlet Letter Red
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-primary-color-3"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-secondary-color-3"><img /></div>
						<p class="micro-copy">
							One Ring Gold
						</p>
					</div>
				</div>
				<h4>Secondary colours</h4>
				<div class="grid-wrap tiny-gutter padding-bottom--medium">
					<div class="grid-col four-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-secondary-color-1"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-secondary-color-2"><img /></div>
						<p class="micro-copy">
							The Fresh Lime
						</p>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-secondary-color-3"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-primary-color-3"><img /></div>
						<p class="micro-copy">
							The Orange Moon
						</p>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-secondary-color-2"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-secondary-color-1"><img /></div>
						<p class="micro-copy">
							The Green Mile
						</p>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-secondary-color-4"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-secondary-color-3"><img /></div>
						<p class="micro-copy">
							Devil In A Dress Blue
						</p>
					</div>
					<!-- <div class="grid-col four-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-secondary-color-5"><img /></div>
						<div id="colour-swatch--small" class="bg--brand-primary-color-1"><img /></div>
						<p class="micro-copy">
							The Purple Crayon 
						</p>
					</div>-->
				</div>
				<h4>Shades of Grey</h4>
				<div class="grid-wrap tiny-gutter padding-bottom--medium">
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-darkest"><img /></div>
						<p class="micro-copy">
							100 Shades of Grey
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-dark"><img /></div>
						<p class="micro-copy">
							90 Shades of Grey
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-medium"><img /></div>
						<p class="micro-copy">
							70 Shades of Grey
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-medium-light"><img /></div>
						<p class="micro-copy">
							50 Shades of Grey
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-light"><img /></div>
						<p class="micro-copy">
							40 Shades of Grey
						</p>
					</div>
					<div class="grid-col three-up tiny-gutter">
						<div id="colour-swatch" class="bg--brand-grey-lightest"><img /></div>
						<p class="micro-copy">
							20 Shades of Grey
						</p>
					</div>
				</div>
			</article><!-- End prose-block -->
		</div><!-- End container no-bg -->
			
		<!-- Text module -->
		<div class="container no-bg">
				<article class="intro">
						<p><b>Team:</b> Paul Woods (Design Director), Christian Hanke, Louise Fuglsang, Christoph Rauscher, Matt Berridge, Lorenz Seeger, Charles-Axel Pauwels, Sara Hesse, Sibyl Cherry Lai, Sharon Walsh, Robert Stulle, Thomas Walsch, Stephanie Szabo.</p>
						<p><b>Check it out over at</b> <a href="http://www.blloon.com">www.blloon.com</a>.</p>
				</article>
		</div><!-- End container no-bg -->


		<%= partial "cta-white" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>