---
title: Blloon | Paul Woods | Designer, illustrator, blogger and wanker
description: Escape into the world of stories.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--blloon">
		<div id="landing_wrap--inside" class="head_bg--blloon">
			<!-- MAIN STAGE -->
			<div class="hero--blloon fadeInUp">
				<img src="../images/projects/blloon/blloon-cover-folded.jpg" alt="Design Thinking Visualised">
				<h1 class="landing_wrap--inside--blloon">London Calling</h1>
				<span class="black subline">Narcissistic self-published newspaper</span>
			</div><!-- End hero -->
		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->


		<!-- Statement module -->
		<article class="statement padding--top--small">
			<h3 class="statement-header yellow_blloon">The challenge</h3>
				Escape into the magical world of stories.<br><br>
		</article><!-- End statement white -->

		<!-- Text module -->
		<div class="container no-bg">
				<article class="intro dropcap blloon_para">
					Reading is much more than simple entertainment. Stories are the way we escape to a place where anything is possible. This project was much more than a branding or UI exercise — it was about creating a magical way to escape to the world of stories.
					<p>
						We were briefed to develop the strategic brand core, name, visual brand and the digital product for a new Berlin based e-reading subscription service.
					</p>
					<p>
						Check out the live website <a href="http://www.blloon.com"> here</a> and the detailed project case over at <a href="http://www.edenspiekermann.com/projects/blloon">Edenspiekermann</a>.
					</p>
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/blloon/blloon-spread-03.jpg" alt="Thoughts of an blloon page design spread">
					</div><!-- End grid-col -->
				</div><!-- End grid-wrap -->	
		</div><!-- End container no-bg -->

		<!-- Text module -->
		<div class="container no-bg">
				<article class="intro">
						<p><b>Team:</b> Paul Woods (Design Director), Christian Hanke, Louise Fuglsang, Christoph Rauscher, Matt Berridge, Lorenz Seeger, Charles-Axel Pauwels, Sara Hesse, Sibyl Cherry Lai, Sharon Walsh, Robert Stulle, Thomas Walsch, Stephanie Szabo.</p>
						<p><b>Check it out over at</b> <a href="http://www.blloon.com">www.blloon.com</a>.</p>
				</article>
		</div><!-- End container no-bg -->


		<%= partial "cta-white" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>