---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav" %>

	<body class="body_bg--design_thinking">
		<div id="landing_wrap--inside" class="head_bg--design_thinking">

			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
				<img src="../../images/projects/covers/projects_headers_design_thinking.jpg">
				<h1 id="project_header--design-thinking">Design Thinking.<br>Visualised</h1>
				<span class="grey subline">Edenspiekermann</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<article class="statement">
			<h3 class="statement-header yellow_showreel">The brief</h3>
			Visualise a publication on the topic of design thinking.<br>
			Include nude images if possible.
		</article>

		<div class="container no-bg">
				<article class="intro">
					Working with Erik Spiekermann on a new book on design thinking, the brief was to illustrate the title pages and smaller,handdrawn diagrams throughtout. 
					<br><br>
					The project was later extended into an app version, with a custom webfont, UI and a further 40 illustrations and animations created.
				</article>
		</div><!-- End container no-bg -->
		
		<div class="container no-bg">
			<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../../images/projects/Design_thinking_image.jpg">
					</div>
			</div>
		</div>
