---
title: Design Thinking Visualised | Paul Woods | Designer, illustrator, blogger and wanker
description: Visualise a publication on the topic of design thinking. Include nude images if possible.
---
<%= partial "nav_inside_normal" %>

	<body class="body_bg--design_thinking">
		<div id="landing_wrap--inside" class="head_bg--design_thinking">

			<!-- MAIN STAGE -->
			<div class="hero--design-thinking fadeInUp">
				<img src="../images/projects/covers/design_thinking_image_small.jpg" alt="Design Thinking Visualised">
				<h1 id="project_header--design-thinking">Design Thinking</h1>
				<span class="grey subline">Erik Spiekermann | Partake AG</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<article class="statement divider-line">
			<h3 class="statement-header yellow_showreel">The brief</h3>
			Visualise a publication on design thinking.<br>
			Include nude images if possible.
		</article>

		<div class="container no-bg">
			<article class="intro design_thinking_para">
					Working with Erik Spiekermann on a new book on design thinking, the brief was to illustrate the title pages and smaller, handdrawn diagrams throughtout. Humour and play were key to quickly communicate and visualise complex topics and processes.
					<br><br>
					The project was later extended into an app version, with a custom webfont, UI and a further 40 illustrations and animations created.
			</article>
			<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_orange-NEW.jpg" alt="Design Thinking Visualised">
					</div>
			</div>
		</div><!-- End container no-bg -->

		<!-- fitText Scrawl type -->
		<div id="fitText_wrap">
			<h1 id="fitText_01"></h1>
			<div class="grid-wrap fitText-gutter">
					<div class="grid-col three-up fitText-gutter">
						<img src="../images/svg/scrawl_divider_black.svg" alt="Design Thinking Visualised divider">
					</div>
					<div class="grid-col three-up fitText-gutter">
						<h1 id="fitText_01">Introducing</h1>
					</div>
					<div class="grid-col three-up fitText-gutter">
						<img src="../images/svg/scrawl_divider_black.svg" alt="Design Thinking Visualised divider">
					</div>
			</div>

			<h1 id="fitText_02">Scrawl</h1>
			<img src="../images/svg/scrawl_divider_black.svg" alt="Design Thinking Visualised divider">
			<h3 id="fitText_04">
				<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
				<span class="mobile--none">abcdefghijklmnopqrstuvwxyz</span><br>
				<span class="mobile--none">1234567890!@€£$&%(){}[]’“”.,</span>
			</h3>

			<!-- Test Scraw module -->
			<div class="intro">
				<input type="text" type="text" class="textbox--scrawl" value="Test out Scrawl" name="Type" id="Type"
	 				onblur="if (this.value == '') {this.value = 'Test out Scrawl';}"
	 				onfocus="if (this.value == 'Test out Scrawl') {this.value = '';}"
	 				maxlength="21">
			</div>
		</div> <!-- End fitText_wrap -->

		<div class="light-grey-bg">
			<div class="container">
				<h2>Lost in translation</h2>
				<div class="grid-col one-up--full no-gutter">
					<img src="../images/projects/01_design_thinking/design_thinking_white-NEW.jpg" alt="Design Thinking Visualised">
				</div>
				<div class="grid-wrap no-gutter">
					<article class="intro design_thinking_para_black">
						<p>Very soon into the project, I realised one rather serious stumbling block in the project: despite my three years in Berlin, I still had a poor (meaning non-existant) grasp on the German language. Considering the entire publication was written in German, this was a problem. For example: I had absolutely no idea what the above spread was about. After some discussion when Erik, I drew some eye-sperms.</p>
						<p>As the project progressed, and my German skills showed no signs of improvement, email exchanges such as the following became commonplace. Desperately trying to avoid looking like an idiot, I made valiant attempts to guess the spelling of certain words such as:</p>
						<img src="../images/projects/01_design_thinking/design_thinking_mis-spelling.png" alt="Lost in Translation">
						<p>Inevitably, I had entirely misunderstood:</p>
						<img src="../images/projects/01_design_thinking/design_thinking_wip.jpg" alt="Design Thinking Visualised illustration">
						<p>To this day, my German has not improved.</p>
					</article>
				</div>
			</div><!-- End container -->
		</div><!-- End white-bg -->

		<div class="dark-grey-bg">
			<div class="container">
				<article class="intro">
					<h2 class="white">app time</h2>
					The next stage of the project was to create a UI concept, 40 additional illustrations and animations the accompanying iOS app.
					<p>
					Given the nature of the illustration style used in the book, a native iOS styled app felt entirely inappropriate for the project. instead, we decided to draw the entire app UI by hand and use Scrawl as the primary font for headlines, buttons and other UI components.</p>
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_iphone.jpg" alt="iOS UI design">
					</div>
				</div>
			</div>
		</div>
<%= partial "cta" %>

		<!--
		<div class="no-bg">
			<div class="grid-wrap tiny-gutter">
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_02.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_03.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_04.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_05.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_06.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_07.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_08.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_09.jpg">
					</div>
			</div>
		</div> End no-bg -->

