---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav_inside_normal" %>

	<body class="body_bg--design_thinking">
		<div id="landing_wrap--inside" class="head_bg--design_thinking">

			<!-- MAIN STAGE -->
			<div class="hero--design-thinking fadeInUp">
				<img src="../images/projects/covers/design_thinking_image_small.jpg">
				<h1 id="project_header--design-thinking">Design Thinking.</h1>
				<span class="grey subline">Erik Spiekermann | Partake AG</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<article class="statement divider-line">
			<h3 class="statement-header yellow_showreel">The brief</h3>
			Visualise a publication on design thinking.<br>
			Include nude images if possible.
		</article>

		<div class="container no-bg">
				<article class="intro design_thinking_para">
					Working with Erik Spiekermann on a new book on design thinking, the brief was to illustrate the title pages and smaller, handdrawn diagrams throughtout. 
					<br><br>
					The project was later extended into an app version, with a custom webfont, UI and a further 40 illustrations and animations created.
				</article>
 
	
			<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_orange.jpg">
					</div>
			</div>

			<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_orange-NEW.jpg">
					</div>
			</div>

		</div><!-- End container no-bg -->

		<!-- fitText Scrawl type -->
		<div id="fitText_wrap">
			<h1 id="fitText_01">Introducing</h1>
			<!--<div class="grid-wrap fitText-gutter">
					<div class="grid-col three-up fitText-gutter">
						<img src="../images/svg/scrawl_divider_grey.svg">
					</div>
					<div class="grid-col three-up fitText-gutter">
						<h1 id="fitText_01">Introducing</h1>
					</div>
					<div class="grid-col three-up fitText-gutter">
						<img src="../images/svg/scrawl_divider_grey.svg">
					</div>
			</div><End grid-wrap -->
			<h1 id="fitText_02">Scrawl</h1>
			<img src="../images/svg/scrawl_divider_black.svg">
			<h2 id="fitText_03">A webfont from the hand of Paul the Designer</h2>
			<h2 id="fitText_04">
				ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
				abcdefghijklmnopqrstuvwxyz<br>
				1234567890!@€£$&%(){}[]’“”.,:<>/?+=
			</h2>
		</div> <!-- End fitText_wrap -->

		<div class="no-bg">
			<div class="grid-wrap tiny-gutter">
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_01.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_02.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_03.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_04.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_05.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_06.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_07.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_08.jpg">
					</div>
					<div class="grid-col four-up tiny-gutter">
						<img src="../images/projects/01_design_thinking/design_thinking_09.jpg">
					</div>
			</div>
		</div><!-- End no-bg -->

