---
title: DIT School of Art Design and Printing | Paul Woods | Designer, illustrator, blogger and wanker
description: Develop an identity for the DIT School of Art Design and Printing graduate show of 2010.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--dit">
		<div id="landing_wrap--inside" class="head_bg--dit">

			<!-- MAIN STAGE -->
			<div class="dit-info--showreel fadeInUp">
					<div id="dit-cover-container">
						<canvas id="ditMusicCover"></canvas>
					</div><!-- End canvas-holder -->
				<h1 id="project_header--dit">Mapping Creativity</h1>
				<span class="grey subline">DIT School of Art, Design and Printing</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Parallax image -->
		<div class="world-tour-mosaic" data-600="transform: translate(0, -0px); opacity:1;" data-0="transform: translate(0,-200px); opacity:0;">
			<img src="../images/projects/dit/dit-panorama.jpg" alt="DIT School of Art, Design and Printing Graduate Show" >
		</div><!-- End image -->

		<div class="light-grey-bg">
			<article class="statement divider-line-black">
				<h3 class="statement-header yellow_dit">The brief</h3>
				6 very different creative courses.
				Create a single encompassing grad show identity.
			</article>
			<div class="container no-bg">
				<article class="intro dit_para dropcap">
						<p>The identity needed a common denominator that could represent all students of diverse school of art, design and printing? The idea? Pick something all the art, design and printing students have in common: The creative process. Working with fellow designer Maeve Keane, we created a concept to discover and visualise ‘the science’ of the students’ creative processes.</p>
						<p>The project spanned three months and involved designing all the graphics and branding for the show, posters, website, signage and a 176 page catalogue compiled with the graduating students’ work.
						</p>
				</article>
				<div class="grid-wrap no-gutter">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/dit-catalogue.jpg" alt="DIT catalogue cover">
						</div>
				</div>
			</div><!-- End container no-bg -->
		</div><!-- light-grey-bg -->

		
		<div class="black-bg">
			<!-- Image MODULE -->
			<div>
				<img src="../images/projects/dit/dit-cover.jpg" alt="DIT School of Art, Design and Printing Graduate Show" width=100%>
			</div><!-- End image -->
			<div class="container">
				<article class="intro minus-padding-medium">
					<h2 class="white">Visualising</h2>
					<p class="opening-paragraph--medium centre">
						We interviewed all 147 students from the school about their personal creative process and build information graphics on their creative processes.
					</p>

					<!-- Legend -->
					<div class="grid-wrap no-gutter ">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/legend.svg" alt="DIT infographic legend">
						</div>
					</div>

					<!-- Creative Beats -->
					<h1 class="numbers">1</h1>
					<h3 class="white">Creative beats</h3>
		
					<p class="padding-bottom--medium centre">What particular genre of music fuels the individuals creative spark? Rock, reggae or R&B, is the secret of creativity hidden in the beats?</p>
					<div class="grid-wrap no-gutter">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/dit-music.svg" alt="DIT creative beats infographic">
						</div>
					</div>

					<!-- Davy or Night? -->
					<h1 class="numbers">2</h1>
					<h3 class="white">Day or night?</h3>
					<p class="padding-bottom--medium centre">Day or night, awake or asleep, the creative forces can strike an individual at any time. What time of day are our students at their most creative, and when do ideas strike?</p>
					<div class="grid-wrap no-gutter">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/dit-clock-day.svg" alt="DIT day infographic">
						</div>
					</div>
					<div class="grid-wrap no-gutter">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/dit-clock-night.svg" alt="DIT night infographic">
						</div>
					</div>

					<!-- Creative Fuel -->
					<h1 class="numbers">3</h1>
					<h3 class="white">Creative fuel</h3>
					<p class="padding-bottom--medium centre">
					Like an engine, creativity needs fuel to run. What is the top fuel to keep the creative spark running long after the stroke of midnight? Each ‘fuel’ is averaged by a single student’s daily consumption.</p>
					<div class="grid-wrap no-gutter">
						<div class="grid-col one-up--full no-gutter">
							<img src="../images/projects/dit/dit-creative-fuel.svg" alt="DIT creative fuel inforgraphic">
						</div>
					</div>

				</article>
			</div>
		</div>
<%= partial "cta" %>
<!-- Charts JS -->
<script src="../js/vendor/Chart.min.js"></script>
<script src="../js/dit-charts.js"></script>

<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>
