---
title: Paul Woods | Designer, illustrator, blogger and wanker
description: Herein lies the website of designer, illustrator, procrastinator and all-round wanker Paul Woods.
---
<%= partial "nav_inside_normal" %>

<!-- Index -->
<div id="landing_wrap">
			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
				<img id="preload" onload="fadeIn(this)" style="opacity:0;" src="./images/hero-02-kim-jong-un.png" alt="Paul Woods the Designer">
					<h1 id="giant">
						Yolo.
					</script>
				</h1><!-- End heading-->
				<span class="red subline--homepage">Wishing you a wonderfully oppressive Christmas.</span>
				<!--<a href="projects" class="button">Enter me</a>-->
			</div><!-- End hero -->
</div><!-- End landing_wrap -->