---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav" %>

<!-- Add your site or application content here -->
<div id="landing_wrap">
			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
				<img id="preload" onload="fadeIn(this)" style="opacity:0;" src="./images/hero-01.png">
					<h1 id="giant">
						<script type="text/javascript">
							var randomquote = new Array ( );
							randomquote[0] = 'Wanker';
							randomquote[1] = 'Lord of Space';
							randomquote[2] = 'Bollox';
							randomquote[3] = 'Hairy man';
							randomquote[4] = 'Pizza Eater';
							randomquote[5] = 'Lord of Space';
							function randomzero (n)
							{
							  return ( Math.floor ( Math.random ( )*0.9999999999999999* (n + 1)) );
							}
							x = randomzero(5);
							document.write(randomquote[x]);
					</script>
				</h1><!-- End heading-->
				<span class="black subline">Professional cunt since 1983.</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->

		<!-- Red more arrow-->
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Intro text -->
		<div class="container">
			<div class="grid-wrap no-gutter">
					<h1>Greetings</h1>
					<article class="intro">
						Hello fuckers.

						Herein lies the website of Paul, designer director at Edenspiekermann. I make things that are exciting, useful and occasionally offensive. I also write about these things.

						Farewell.
						@paulillustrator
					</article>
			</div><!-- End container white-bg -->
		</div>

		<!-- Projects section -->
		<div class="no-bg">
			<div class="grid-wrap no-gutter">
					<div class="grid-col two-up no-gutter">
						<a href="design-thinking">
							<div data-content="Design Thinking Visualised." class="project--thumb">
								<img src="images/projects/thumbs/project_design-thinking_thumb.jpg">
							</div>
							<!--<span class="text-content"><span>Place Name</span></span>-->
						</a>
					</div>
					<div class="grid-col two-up no-gutter">
						<a href="showreel">
							<div data-content="The Greatest Showreel." class="project--thumb">
								<img src="images/projects/thumbs/project_partnerships_thumb.jpg">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter coming-soon">
						<div data-content="Coming soon." class="project--thumb">
							<img src="images/projects/thumbs/project_rbma_thumb.jpg">
						</div>
					</div>
					<div class="grid-col two-up no-gutter coming-soon">
						<div data-content="Coming soon." class="project--thumb">
							<img src="images/projects/thumbs/project_dit_thumb.jpg">
						</div>
					</div>
				</div><!-- End grid wrap -->
		</div><!-- End container no-bg -->
