---
title: The Greatest Showreel of All Time | Paul Woods | Designer, illustrator, blogger and wanker
description: Most agency showreels are shit. Make one that isn’t.

---

<header class="band" data-0="background-position:0px 0px; opacity:1;" data-500="background-position:0px -250px; opacity:0">
 
    <div class="container">
 
        <div class="columns sixteen">
         	<h1>Meaningless Pap</h1>
			<a class="button" href="http://webdesign.tutsplus.com/author/ian-yates/">by Ian Yates</a>
        </div><!--/ columns--> 
     
    </div><!--/ container-->       
 
</header><!--/ band-->

<!-- Text module invert -->
		<div class="container">
			<article class="intro">
					<article class="statement white divider-line">
						<h3 class="statement-header yellow_showreel">The challenge</h3>
						Most agency showreels are shit.<br>
						Make one that isn’t.<br><br>
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Text module invert-->
		<div class="container no-bg minus-padding">
				<article class="intro dropcap">
					Sometime in July, Steven and I began discussing what was for us a yearly summer project that we never seemed to finish: the Edenspiekermann showreel film. Every year, we would start this project with great enthusiasm, but eventually become disillusioned with what most design agency films become: An egotistical montage telling the viewer how great the said agency is, all coupled with lots of footage of people drawing on Post-it notes.</p>
					
					Once again, as this year’s summer season came around, Steven and I sat together, wondering if this elusive piece of cinematic history would ever make it to the silver (aluminium) screen.</p>
					<p>And then the idea became clear to us. A true eureka moment: If we were to make an agency film, it would need to be:</p>
					<p>
						<br><br><img src="../images/projects/showreel/showreel-title.gif" id="animation--title" style="visibility: hidden" alt="The Greatest Showreel">
					</p>
				</article>
		</div><!-- End container no-bg -->
		<script type="text/javascript" src="js/vendor/skrollr.js"></script>
		<script type="text/javascript">
		    skrollr.init();
		</script>