---
title: Projects | Paul Woods | Designer, illustrator, blogger and wanker
description: The project overview page, a collection of only the finest works known to Man.
---
<%= partial "nav_inside" %>

		<div class="no-bg">
			<div class="grid-wrap no-gutter">
					<div class="grid-col two-up no-gutter fadeInUp">
						<a href="../design-thinking">
							<div data-content="Design thinking visualised" class="project--thumb">
								<img src="../images/projects/thumbs/project_design-thinking_thumb.jpg" alt="Design Thinking Visualised">
							</div>
							<!--<span class="text-content"><span>Place Name</span></span>-->
						</a>
					</div>
					<div class="grid-col two-up no-gutter fadeInUp">
						<a href="../rbma-world-tour">
							<div data-content="RBMA World Tour" class="project--thumb">
								<img src="../images/projects/thumbs/project_thumb_rbma.jpg" alt="Red Bull Music Academy World Tour">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter fadeInUp">
						<a href="../showreel">
							<div data-content="The Greatest Showreel" class="project--thumb">
								<img src="../images/projects/thumbs/project_partnerships_thumb.jpg" alt="The Greatest Showreel">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter fadeInUp">
						<a href="../dit-graduate-identity">
							<div data-content="DIT School of Art Design & Printing." class="project--thumb">
								<img src="../images/projects/thumbs/project_dit_thumb.jpg" alt="DIT graduate exhibition identity">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter coming-soon fadeInUp">
						<a href="#">
							<div data-content="Coming soon." class="project--thumb">
								<img src="../images/projects/thumbs/project_irishman_thumb.jpg" alt="Thoughts of an Irishman illustrated newspaper">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter coming-soon fadeInUp">
						<a href="#">
							<div data-content="Be patient asshole." class="project--thumb">
								<img src="../images/projects/thumbs/project_parship_thumb.jpg" alt="Parship illustrations">
							</div>
						</a>
					</div>
				</div><!-- End grid wrap -->
		</div><!-- End container no-bg -->
