---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav_inside" %>

		<div class="no-bg">
			<div class="grid-wrap no-gutter">
				<a href="#">
					<div class="grid-col two-up no-gutter">
						<a href="design-thinking">
							<div data-content="Design Thinking Visualised." class="project--thumb">
								<img src="../images/projects/thumbs/project_design-thinking_thumb.jpg">
							</div>
							<!--<span class="text-content"><span>Place Name</span></span>-->
						</a>
					</div>
						</a>
					<div class="grid-col two-up no-gutter">
						<a href="showreel">
							<div data-content="The Greatest Showreel." class="project--thumb">
								<img src="../images/projects/thumbs/project_partnerships_thumb.jpg">
							</div>
						</a>
					</div>
					<div class="grid-col two-up no-gutter coming-soon">
							<div data-content="Coming soon." class="project--thumb">
								<img src="../images/projects/thumbs/project_rbma_thumb.jpg">
							</div>
					</div>
					<div class="grid-col two-up no-gutter coming-soon">
						<div data-content="Coming soon." class="project--thumb">
							<img src="../images/projects/thumbs/project_dit_thumb.jpg">
						</div>
					</div>
				</div><!-- End grid wrap -->
		</div><!-- End container no-bg -->
