---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--showreel">
		<div id="landing_wrap--inside" class="head_bg--showreel">

			<!-- MAIN STAGE -->
			<div class="hero--showreel fadeInUp">
				<img src="../images/projects/covers/projects_headers_showreel_2.jpg">
				<h1 id="project_header">going to<br>Hollywood</h1>
				<span class="grey subline">Edenspiekermann</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Fixed image module -->
		<div class="fixed" style="background: url(../images/projects/showreel/countdown-05.gif)">
		</div>

		<!-- Text module invert -->
		<div class="container">
			<article class="intro">
					<article class="statement white divider-line">
						<h3 class="statement-header yellow_showreel">The challenge</h3>
						Most agency showreels are shit.<br>
						Make one that isn’t.<br><br>
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Text module invert-->
		<div class="container no-bg minus-padding">
				<article class="intro dropcap">
					Sometime in July, Steven and I began discussing what was for us a yearly summer project that we never seemed to finish: the Edenspiekermann showreel film. Every year, we would start this project with great enthusiasm, but eventually become disillusioned with what most design agency films become: An egotistical montage telling the viewer how great the said agency is, all coupled with lots of footage of people drawing on Post-it notes.</p>
					
					Once again, as this year’s summer season came around, Steven and I sat together, wondering if this elusive piece of cinematic history would ever make it to the silver (aluminium) screen.</p>
					<p>And then the idea became clear to us. A true eureka moment: If we were to make an agency film, it would need to be:</p>
					<p>
						<br><br><img src="../images/projects/showreel/showreel-title.gif" id="animation--title" style="visibility: hidden">
					</p>
				</article>
		</div><!-- End container no-bg -->

		<!-- Text module white-->
		<div class="white-bg">
			<div class="container">
			<article class="intro">
					<img src="../images/projects/showreel/countdown-04.gif">
					<h2>The idea</h2>
					
					<p>From the start, we knew that a good showreel should be memorable, funny and most importantly, tell a great story. Early on, we decided that the best way to achive this was to show no client work whatsoever. Instead, clients would be referenced through subtle cues throughout.</p>

					<p>We racked our brains—“what could this story be?”. After an afternoon of intenstive brainstorming, we realised that the centre point of how we work was relationships, and more specifically, it is about partnerships. We had found our theme.</p>
					
					<p>From there, we began gathering all the great love stories throughout history, in culture and art. We gathered our favourite popular culture references, and with little effort, our storyboard quickly came together.</p>

					<!--<img src="../images/projects/showreel/partnerships-sliced.gif">-->

				</article>
			</div><!-- End container -->
		</div><!-- End white-bg -->

		<!-- Fixed image module -->
		<div class="fixed" style="background: url(../images/projects/showreel/the_shoot_02.jpg)">
		</div>

		<!-- Text module invert -->
		<div class="container">
			<article class="intro">
				<img src="../images/projects/showreel/countdown-03.gif">
				<h2 class="white">The Cast</h2>
					<p>No great film is complete without a great cast. And if we wanted to create the Greatest Showreel of All Time, we would need to assemble the Greatest Ensemble Cast of All Time. Ever.</p>
					<p>Armed with the most ridiculous storyboard imaginable, we set about gathering our ‘cast’ through Amazon orders, eBay and confincing family and friends that their beloved pets were safe with us. Sort of.</p>
			</article>
		</div><!--End container -->

		<!-- Image mosaic module -->
		<div class="no-bg">
			<div class="grid-wrap no-gutter">

					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Unicorn" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_unicorn.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Laser Cat" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_cat.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Time Machine" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_car.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Premium Beer" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_beer.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Horny Rabbit" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_rabbit.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Giant Cheese" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_cheese.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Turtle" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_turtle.jpg">
						</div>
					</div>
					<div class="grid-col four-up tiny-gutter">
						<div data-content="The Superhero" class="project--thumb">
							<img src="../images/projects/showreel/cast/showreel_superhero.jpg">
						</div>
					</div>
			</div>
		</div><!-- End no-bg -->

		<!-- Text module invert -->
		<div class="container">
			<article class="intro">
					<p>No great film is complete without a great cast. And if we wanted to create the Greatest Showreel of All Time, we would need to assemble the Greatest Ensemble Cast of All Time. Ever.</p>
					<p>Armed with the most ridiculous storyboard imaginable, we set about gathering our ‘cast’ through Amazon orders, eBay and confincing family and friends that their beloved pets were safe with us. Sort of.</p>
							<!-- Text module invert -->
			<article class="statement white center">
					<h3 class="statement-header yellow_showreel"> </h3>
					We we ready to start.
			</article><!-- End statement white -->
		</div><!--End container -->
			</article>
		</div><!--End container -->		

		<!-- Text module white-->
		<div class="medium-bg">
			<div class="container">
			<article class="intro">
					<img src="../images/projects/showreel/countdown-02.gif">
					<h2 class="white">The shoot</h2>
					<p>From the start, we knew that a good showreel should be memorable, funny and most importantly, tell a great story. Early on, we decided that the best way to achive this was to show no client work whatsoever. Instead, clients would be referenced through subtle cues throughout.</p>
				
					<article class="statement white">
						<h3 class="statement-header white"> </h3>
						In true Agile style, we cut the film as we went along, filming by day and editing by night.
					</article><!-- End statement white -->
					
			</article>
			</div><!-- End container -->
		</div><!-- End medium-bg -->

		<!-- Fixed image module -->
		<div class="fixed" style="background: url(../images/projects/showreel/the_shoot.jpg)">
		</div>

		<!-- Video module -->
		<div class="container intro">
			<img src="../images/projects/showreel/countdown-01.gif">
			<h2 class="white">the Premier</h2>
		</div>
		<div class="showreel-video">
				<style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 80%; height: 80%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/78900658?title=0&amp;byline=0&amp;portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
		</div><!-- End showreel-video -->

		<!-- Text module invert-->
		<div class="container intro">
			<h2 class="white">Credits</h2>
		</div>

<!--  JS TRIGGER FOR CSS ANIMATIONS BY SCROLL EVENTS -->
		<script>
			$(window).scroll(function() {
				$('#animation--title').each(function(){
				var imagePos = $(this).offset().top;

				var topOfWindow = $(window).scrollTop();
					if (imagePos < topOfWindow+600) {
						$(this).addClass("fadeInFast");
					}
				});
			});
		</script>

