---
title: Paul Woods | Designer, illustrator, blogger and wanker
---
<%= partial "nav" %>

	<body class="body_bg--showreel">
		<div id="landing_wrap--inside" class="head_bg--showreel">

			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
				<img src="../../images/projects/covers/projects_headers_showreel_2.jpg">
				<h1 id="project_header">The Greatest<br>Showreel</h1>
				<span class="grey subline">Edenspiekermann</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<article class="statement white">
			<h3 class="statement-header yellow_showreel">The challenge</h3>
			Most agency showreels are shit.<br>
			Make one that isn’t.
		</article>

		<div class="container no-bg">
				<article class="intro">
					Sometime in July, Steven and I began discussing what was for us a yearly summer project that we never seemed to finish: the Edenspiekermann showreel film. Every year, we would start this project with great enthusiasm, but eventually become disillusioned with what most design agency films become: An egotistical montage telling the viewer how great the said agency is, all coupled with lots of footage of people drawing on Post-it notes (in an attempt to “capture the feeling of their creative process”). Yawn. And so, we would lose interest and move on.
					<div class="inline-quote">
						This is the most ridiculous thing I've seen in my entire life. Period.
					</div>
					<p>
					Once again, as this year’s summer season came around, Steven and I sat together, wondering if this elusive piece of cinematic history would ever make it to the silver (aluminium) screen. And then the idea became clear to us. A true eureka moment: If we were to make an agency film, it would need to be The Greatest Brand Agency Showreel of All Time. Ever.</p>
				</article>
		</div><!-- End container no-bg -->
		
		<article class="statement white">
			<h3 class="statement-header yellow_showreel">Why do most reels suck?</h3>
			Well, to start with,<br>they are filled with things like …
		</article>