---
title: Thoughts of an Irishman | Paul Woods | Designer, illustrator, blogger and wanker
description: A deeply intellectual analysis of London society.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--irishman">
		<div id="landing_wrap--inside" class="head_bg--irishman">
			<!-- MAIN STAGE -->
			<div class="hero--design-thinking fadeInUp">
				<img src="../images/projects/irishman/irishman-cover.pmg" alt="Design Thinking Visualised">
				<h1 class="project_header--irishman">London Calling</h1>
				<span class="black subline">Narcissistic self-published newspaper</span>
			</div><!-- End hero -->
		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more--invert">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Fixed image module 
		<div class="fixed" style="background: url(../images/projects/showreel/countdown-05-crop.gif)" alt="The Greatest Showreel" data-0="transform: translate(0, -0px); opacity:0;" data-700="transform: translate(0,-200px); opacity:1;">
		</div> -->

		<div class="world-tour-mosaic" data-900="transform: translate(0, -0px); opacity:1;" data-0="transform: translate(0,-300px); opacity:0;">
			<img src="../images/projects/irishman/irishman-key-visual.jpg" alt="Red Bull Music Academy World Tour posters" >
		</div>

		<!-- Text module invert -->
		<div class="container minus-padding" >
			<article class="intro">
					<article class="statement white divider-line">
						<h3 class="statement-header yellow_irishman">The challenge</h3>
						10 events. 10 cities. 10 visuals.<br>
						And a lot of music.<br><br>
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Text module invert-->
		<div class="container no-bg minus-padding">
				<article class="intro dropcap irishman_para">
					The Red Bull Music Academy is a world-traveling symposium of music and knowledge founded in 1998. In the lead up to the 2011 event in Madrid the Red Bull Music Academy embarked on a World Tour going straight to the heart of today’s most crucial musical movements – and taking listeners beyond the beat.</p>
					<p>
					The world tour unleashed ten ground-breaking celebrations and explorations in ten different cities around the globe featuring signature concerts, workshops, art installations, studio sessions and parties all in extraordinary locations.</p>
					<p>
					For each of the ten events our team at Edenspiekermann established a unique identity playing on the event’s theme and location. This came to life in the form of posters, a website and a banner campaign. With the team, I worked on the creation and illustration of the respective event identies. The team consisted of myself (design and illustration), Steven Cook (Creative Direction), Sven Ellingen (digital direction) and Sarah Lincoln (digital).</p>
				</article>
		</div><!-- End container no-bg -->

		<!-- Text module white-->
		<div class="light-grey-bg">
			<div class="container">
				<div class="grid-wrap no-gutter no-padding">
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-melbourne-flat.jpg" alt="RBMA Melbourne poster">
					</div>
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-berlin-flat.jpg" alt="RBMA Berlin poster">
					</div>
				</div><!--End grid-wrap-->
			</div><!-- End container -->
		</div><!-- End white-bg -->

		<!-- Text module -->
		<div class="dark-grey-bg">
			<div class="container">
				<article class="intro">
					<h2 class="white">Into the wild</h2>
					In an extremely tight time frame, our digital team worked from the identities we had created and adapted them into series of micro sites. In addition, a wide range of printed promotional material was created in just a matter of days. Yikes.
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-web.jpg" alt="RBMA World Tour website">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-situe.jpg" alt="RBMA World Tour South Africa">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-berlin-poster-wall.jpg" alt="A wall on a wall in Berlin">
					</div>
				</div>
			</div>
		</div><!-- End dark-grey-bg -->
		<%= partial "cta" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>
