---
title: Thoughts of an Irishman | Paul Woods | Designer, illustrator, blogger and wanker
description: A deeply intellectual analysis of London society.
---
<%= partial "nav_inside_normal" %>

	<body class="body_bg--irishman">
		<div id="landing_wrap--inside" class="head_bg--irishman">
			<!-- MAIN STAGE -->
			<div class="hero--design-thinking fadeInUp">
				<img src="../images/projects/irishman/irishman-cover-masthead.jpg" alt="Design Thinking Visualised">
				<h1 class="project_header--irishman">London Calling</h1>
				<span class="black subline">Narcissistic self-published newspaper</span>
			</div><!-- End hero -->
		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more--invert">
				More bollox
			</div>
		</div><!-- End center -->
		
		<!--
		<div class="world-tour-mosaic" data-900="transform: translate(0, -0px); opacity:1;" data-0="transform: translate(0,-300px); opacity:0;">
			<img src="../images/projects/irishman/irishman-key-visual.jpg" alt="Red Bull Music Academy World Tour posters" >
		</div>-->

		<!-- Text module invert -->
		<div class="container minus-padding" >
			<article class="intro">
					<article class="statement divider-line">
						<h3 class="statement-header yellow_irishman">The challenge</h3>
						Offend as many people as possible.<br><br>
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Image Module -->
		<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/irishman/irishman-masthead.jpg" alt="Thoughts of an Irishman">
					</div>
		</div><!-- End grid-wrap -->

		<!-- Text module invert-->
		<div class="container no-bg minus-padding">
				<article class="intro dropcap irishman_para">
					Thoughts of an Irishman is a self-authored, somewhat narassisitic publication I undertake from time to time. The first (and currently only completed) edition examines the idiosyncrasies of London life from the perspective of an outsider. Humour is not guarunteed, The piece takes the form of an 8 page newspaper (in reference to the 'beloved' free newspapers of the London streets).<p> 
					A limited amount of the printed newspapers, produced by The Newspaper Club are available by emailing shop@paulthedesigner.ie.</p>
				</article>
		</div><!-- End container no-bg -->

		<!-- Text module white-->
		<div class="black-bg">
			<div class="container">
				<div class="grid-wrap no-gutter no-padding">
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-melbourne-flat.jpg" alt="RBMA Melbourne poster">
					</div>
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-berlin-flat.jpg" alt="RBMA Berlin poster">
					</div>
				</div><!--End grid-wrap-->
			</div><!-- End container -->
		</div><!-- End white-bg -->

		<!-- Image MODULE -->
			<div>
				<img src="../images/projects/irishman/irishman-key-visual.jpg" alt="London Underground cartoon Paul the Designer" posters" width=100%>
			</div><!-- End image -->

		<!-- Text module -->
		<div class="dark-grey-bg">
			<div class="container">
				<article class="intro">
					<h2 class="white">Into the wild</h2>
					In an extremely tight time frame, our digital team worked from the identities we had created and adapted them into series of micro sites. In addition, a wide range of printed promotional material was created in just a matter of days. Yikes.
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-web.jpg" alt="RBMA World Tour website">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-situe.jpg" alt="RBMA World Tour South Africa">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-berlin-poster-wall.jpg" alt="A wall on a wall in Berlin">
					</div>
				</div>
			</div>
		</div><!-- End dark-grey-bg -->
		<%= partial "cta" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>
