---
title: Thoughts of an Irishman | Paul Woods | Designer, illustrator, blogger and wanker
description: A deeply intellectual analysis of London society.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--irishman">
		<div id="landing_wrap--inside" class="head_bg--irishman">
			<!-- MAIN STAGE -->
			<div class="hero--irishman fadeInUp">
				<img src="../images/projects/irishman/irishman-cover-folded.jpg" alt="Design Thinking Visualised">
				<h1 class="landing_wrap--inside--irishman">London Calling</h1>
				<span class="black subline">Narcissistic self-published newspaper</span>
			</div><!-- End hero -->
		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Parallax image module -->
		<div class="irishman-parallax-wrap">
			<div class="irishman-parallax--light irishman-light" data-900="transform: translate(0, -0px);" data-0="transform: translate(0,-350px);">
				<img src="../images/projects/irishman/irishman_key-visual_lights.png" alt="Thoughts of an Irishman Underground" >
			</div>
			<div class="irishman-parallax--fore" data-900="transform: translate(0, -0px);" data-0="transform: translate(0,-220px);">
				<img src="../images/projects/irishman/irishman_key-visual_train.png" alt="Thoughts of an Irishman Underground" >
			</div>
			<div class="irishman-parallax--characters" data-900="transform: translate(0, -0px);" data-0="transform: translate(0,-320px);">
				<img src="../images/projects/irishman/irishman_key-visual_characters.png" alt="Thoughts of an Irishman Underground" >
			</div>
			<div class="irishman-parallax--bg" data-900="transform: translate(0, -0px);" data-0="transform: translate(0,-350px);">
				<img src="../images/projects/irishman/irishman_key-visual_bg.jpg" alt="Thoughts of an Irishman Underground" >
			</div>
		</div><!-- End irishman-parallax-wrap -->

		<!-- Statement module -->
		<article class="statement padding--top--small">
			<h3 class="statement-header yellow_irishman">The challenge</h3>
				Offend as many people as possible.<br><br>
		</article><!-- End statement white -->

		<!-- Text module -->
		<div class="container no-bg">
				<article class="intro dropcap irishman_para">
					Thoughts of an Irishman is a self-authored, somewhat narcissistic publication I undertake from time to time. The first (and currently only completed) edition examines the idiosyncrasies of London life from the perspective of an outsider. The piece takes the form of an 8 page newspaper (in reference to the ‘beloved’ free newspapers of the London streets).<p> 
					A limited amount of the printed newspapers, produced by <a href="http://www.newspaperclub.com">The Newspaper Club</a>, are available by emailing <a href="mailto:shop@paulthedesigner.ie">shop@paulthedesigner.ie.</a></p>
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/irishman/irishman-spread-03.jpg" alt="Thoughts of an Irishman page design spread">
					</div><!-- End grid-col -->
				</div><!-- End grid-wrap -->	
		</div><!-- End container no-bg -->


		<%= partial "cta-white" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>