---
title: Type Factory | Paul Woods | Designer, illustrator, blogger and wanker
description: Make typography interesting to ‘normal’ people. Not just hipster designers.
---
<%= partial "nav_inside_invert" %>

	<body class="body_bg--type-factory">
		<div id="landing_wrap--inside" class="head_bg--type-factory">

			<!-- MAIN STAGE -->
			<div class="hero--type-factory fadeInUp">
				<h1 id="project_header">Type Factory</h1>
				<span class="grey subline">International Society of Typographic Designers</span>
			</div><!-- End hero -->

		</div><!-- End landing_wrap -->
		
		<div class="center">
			<div id="read-more--invert">
				More bollox
			</div>
		</div><!-- End center -->

		<!-- Text module invert -->
		<div class="container minus-padding" >
			<article class="intro">
					<article class="statement black-divider-line">
						<h3 class="statement-header yellow_type-factory">The challenge</h3>
						Make typography interesting to ‘normal’ people.
						Not just hipster designers.
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Text module invert-->
		<div class="container no-bg minus-padding">
				<article class="intro dropcap type-factory_para">
					A project for the International Society of Typographic Designers, ‘Type Factory’ was a museum of typography for which I had to design an identity along with a range of promotional material. The concept behind this piece was to set the letterforms as if they were physical objects on display in a museum. 
					This series was featured in Computer Arts magazine, Typography Served, Deviant Art and several other online publications.</p>
				</article>
		</div><!-- End container no-bg -->

		<!-- Text module invert -->
		<div class="container minus-padding" >
			<article class="intro">
					<article class="statement black-divider-line">
						<h3 class="statement-header yellow_type-factory">Quote</h3>
						That grid is too nerdy for me.<br>
						Said no designer, ever.
					</article><!-- End statement white -->
			</article><!-- End intro -->
		</div>

		<!-- Text module white-->
		<div class="light-grey-bg">
			<div class="container">
				<div class="grid-wrap no-gutter no-padding">
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-melbourne-flat.jpg" alt="RBMA Melbourne poster">
					</div>
					<div class="grid-col two-up">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-berlin-flat.jpg" alt="RBMA Berlin poster">
					</div>
				</div><!--End grid-wrap-->
			</div><!-- End container -->
		</div><!-- End white-bg -->

		<!-- Text module -->
		<div class="dark-grey-bg">
			<div class="container">
				<article class="intro">
					<h2 class="white">Into the wild</h2>
					In an extremely tight time frame, our digital team worked from the identities we had created and adapted them into series of micro sites. In addition, a wide range of printed promotional material was created in just a matter of days. Yikes.
				</article>
				<div class="grid-wrap no-gutter">
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-web.jpg" alt="RBMA World Tour website">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-situe.jpg" alt="RBMA World Tour South Africa">
					</div>
					<div class="grid-col one-up--full no-gutter">
						<img src="../images/projects/rbma-world-tour/rbma-world-tour-websites.jpg" alt="RBMA World Tour websites">
					</div>
					
				</div>
			</div>
		</div><!-- End dark-grey-bg -->
		<%= partial "cta" %>
<!-- Skroller -->
		<script type="text/javascript" src="../js/vendor/skrollr.js"></script>
		<script type="text/javascript">
			if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
	    skrollr.init({
	        forceHeight: false
	    		});
			}
		</script>
