---
title: Blog | Paul Woods | Designer, illustrator, blogger and wanker
description: Collected writings on design, technology and visual culture in general.
---
<%= partial "nav_inside" %>
		<div class="container">
			<div class="grid-wrap">
				<a href="http://www.commarts.com/columns/kill-design-lead.html" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
						<img src="../images/blog/kill-the-design-lead.jpeg" alt="Kill the design lead">
						<h3>Kill the Design Lead</h3>
						<p class="micro-copy centre">Can’t we all just get along? A good rapport between developers and designers leads to great digital experiences.</p>
					</article>
				</a><!-- End article -->
				<a href="http://www.edenspiekermann.com/blog/a-storybuilder-for-social-entrepreneurs-with-red-bull-amaphiko" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
						<img src="../images/blog/amaphiko-red-bull.jpg" alt="Amaphiko Red Bull storybuilder">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->

				<a href="http://www.edenspiekermann.com/blog/diving-into-the-digital-long-read" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
							<img src="../images/blog/digital-longread-02.jpeg" alt="Diving into the Digital Longread">
							<h3>Diving into the Digital Longread</h3>
							<p class="micro-copy centre">What makes the digital long-read such an exciting format for designers? And, how does one go about creating one?</p>
						</article>
					</a><!-- End article -->

					<a href="http://www.edenspiekermann.com/blog/the-breakup-of-art-and-design" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
							<img src="../images/blog/breakup-art-and-design.jpg" alt="The Breakup of Art and Design">
							<h3>The Breakup of art and design</h3>
							<p class="micro-copy centre">Art and design haven’t been getting on for quite a while, but has their relationship finally hit the rocks?</p>
						</article>
					</a><!-- End article -->
					<a href="http://www.edenspiekermann.com/blog/serious-play-the-secret-to-eternal-life" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
							<img src="../images/blog/serious_play_paul_woods_espi.jpeg" alt="Serious Play">
							<h3>Serious play — the secret to eternal life</h3>
							<p class="micro-copy centre">How “serious play” can lead to better client work, staying on top of your game and (of course) eternal life.</p>
						</article>
					</a><!-- End article -->
					<a href="http://www.edenspiekermann.com/blog/hacking-our-way-to-better-results" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
							<img src="../images/blog/hacking_facebook.jpeg" alt="Hacking our way to better results">
							<h3>Hacking our way to better results</h3>
							<p class="micro-copy centre">The notion of hacking as a design tool that can be way to achieve results in both on and offline design.</p>
						</article>
					</a><!-- End article -->
					<a href="http://www.edenspiekermann.com/blog/espi-at-work-the-power-of-keynote" target="_blank">
					<article class="blog-post grid-col three-up fadeInUp">
							<img src="../images/blog/keynote.jpeg" alt="The Power of Keynote at Edenspiekermann">
							<h3>The Power of Keynote</h3>
							<p class="micro-copy centre">Stop the press: There exists a world outside of the Adobe Creative Suite. And it’s called Keynote.</p>
						</article>
					</a><!-- End article -->
			</div><!-- End grid wrap -->
		</div><!-- End container no-bg -->
