// Parallax
header.band {
    background-image:url(../images/projects/covers/projects_headers_showreel_2.jpg);
    background-size: 100%;
    color: white;
    text-align: center;
    /*padding: 10% 0 15% 0;*/
    height: 100%;
    background-repeat: no-repeat;
    background-color: black;
}