// Scrawl FitText headlines

#fitText_wrap{
	max-width:28em;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}

.fitText-gutter{
	padding-left:1px!important;
    margin:0px!important;
    padding:0px!important;
    margin-bottom: -9px!important;
}

#fitText_wrap img{
	width:80%;
	margin:0 auto;
	opacity: 0.6;
}

#fitText_01{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: $black;
	letter-spacing: -0.03em;
	font-weight: 100!important;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

#fitText_02{
	font-size: 10em;
	font-family: $base-font-family-hand;
	font-weight: 100!important;
	letter-spacing: 0.02em;
	color: white!important;
	text-transform: uppercase;
	margin-bottom: 0.3em;
	-webkit-font-smoothing: antialiased;
}


#fitText_03{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: 100!important;
	letter-spacing: -0.03em;
	color: !important;
	text-transform: none;
	text-align: center;
	margin-top: 0.5em;
}


#fitText_04{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: normal!important;
	letter-spacing: -0.03em;
	color: white!important;
	text-transform: none;
	text-align: center!important;
	line-height: 1em;
	overflow: hidden;
}
