// Scrawl FitText headlines

#fitText_wrap{
	max-width:28em;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}

.fitText-gutter{
	padding-left:1px!important;
    margin:0px!important;
    padding:0px!important;
    margin-bottom: -9px!important;
}

#fitText_wrap img{
	width:80%;
	margin:0 auto;
}

#fitText_01{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: $black;
	letter-spacing: -0.03em;
	color: #1f1f1f!important;
	text-transform: none;
}

#fitText_02{
	font-size: 10em;
	font-family: $base-font-family-hand;
	font-weight: $black;
	letter-spacing: 0.03em;
	color: #1f1f1f!important;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}


#fitText_03{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: $black;
	letter-spacing: -0.03em;
	color: #1f1f1f!important;
	text-transform: none;
}


#fitText_04{
	font-size: 2em;
	font-family: $base-font-family-hand;
	font-weight: $black;
	letter-spacing: -0.03em;
	color: #1f1f1f!important;
	text-transform: none;
	text-align: left!important;
	line-height: 1em;
	overflow: hidden;
}
